<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top has-background-black">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='about.css') }}">
    <title>Turing Tested</title>

    <script>
        document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

        });
        });

        });
    </script>

</head>
<body>
    
    <section class="hero is-black is-fullheight-with-navbar">
        <div class="hero-head">
          <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="container">
              <div class="navbar-brand">
                <a class="navbar-item" href="{{ url_for('home') }}">
                  <img src="{{ url_for('static',filename='logo.png') }}" alt="Logo">
                </a>
                <span class="navbar-burger burger" data-target="navbarMenuHeroC">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
              </div>
              <div id="navbarMenuHeroC" class="navbar-menu">
                <div class="navbar-end">
                  <a class="navbar-item" href="{{ url_for('home') }}">
                    Home
                  </a>
                  <a class="navbar-item is-active" href="{{ url_for('about') }}">
                    About
                  </a>
                  <a class="navbar-item" href="{{ url_for('projects') }}">
                    Projects
                  </a>
                  <a class="navbar-item" href="{{ url_for('blog') }}">
                    Blog
                  </a>
                </div>
              </div>
            </div>
        </nav>
        </div>

        
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
          <div class="container has-text-centered pb-6">
            <p class="title is-size-1">
              About Me.
            </p>
          </div>
        </div>    

      <div class="columns is-mobile is-centered pb-6">
      <div class="column is-half">
        <div class="notification is-light">
          <p class="is-size-2">A bit on me.</p><br>
            Hyelo! I'm Turing Tested, your local (not-so) friendly FOSS shill.
            <br>I'm interested in privacy/decentralisation, Linux, Electronics and Philosophy. Currently trying to learn more about the Linux kernel. 
        </div>
      </div>
      </div>

      <div class="columns is-mobile is-centered pb-6">
        <div class="column is-half">
          <div class="notification is-danger">
            <p class="is-size-2">Contact Me:</p> <br>

            <a href="https://github.com/TuringVerified">Github</a><br>
            <a href="https://mas.to/@keouck">Mastodon (mas.to)</a><br>
            tilde.town: ~keouck<br>
            XMPP: turingtested@jabber.fr<br>
	    Email: tt@turingtested.xyz (<a href="https://keys.openpgp.org/vks/v1/by-fingerprint/F902C22A0181D8589003884A097BC53FF8D41046">GnuPG Key</a>)<br><br><br>
      
            I go by different names on different sites.
            </div>
        </div>
        </div>
        <div class="columns is-mobile is-centered pb-6">
            <div class="column is-half">
              <div class="notification is-primary">
                <p class="is-size-2">What I'm currently up to</p><br>

                Reverse engineering smart plugs! I'll be putting up a blog on this soon.
              </div>
            </div>
            </div>

        
</body>
</html>
