<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
  <title>Turing Tested.</title>
</head>

<body>

  <div class="heading-text">
    Turing Tested
  </div><br><br>

  <!-- <div class="container">
        
        <p><h1>A bit about me.</h1>Hyelo! I'm Turing Tested, your local (not-so) friendly FOSS shill. However sadly, outside of the interwebs I play a character called [redacted].
          <br>My interests mainly include FOSS, Linux and Python. Currently trying to get into competitive programming. 
        </p>


  </div> -->

  <div class="container">
    <h1>A bit about me.</h1>
    Hyelo! I'm Turing Tested, your local (not-so) friendly FOSS shill. However sadly, outside of the interwebs I play a character called [redacted].
    <br>My interests mainly include FOSS, Linux and Python. Currently trying to get into competitive programming. 
  </p>

    <h1>What I'm currently up to:</h1>
    <p>Currently, I'm learning C++ from "Beginning C++17"</p>
    <img src="https://m.media-amazon.com/images/I/41xhlV4LH9L._AC_UF1000,1000_QL80_.jpg" alt="" class="src" width="130px">
    <p>(This section is regularly updated.)</p>
  
    <h1>My work</h1>
    <p>Feel free to have a look at my projects in the <a href="{{url_for('shenanigans')}}">shenanigans</a> page.</p>
  </div>

  <div class="sidebar">
    <ul>
      <a href="{{url_for('home')}}"><li>Home</li></a>
      <a href="{{url_for('about')}}"><li>About</li></a>
      <a href="{{url_for('shenanigans')}}"><li>Shenanigans</li></a>
      <a href="{{url_for('blogs')}}"><li>Blogs</li></a>
      <a href="{{url_for('devnull')}}"><li>/dev/null/</li></a>
    </ul>
  </div>
</body>

</html>