<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
  <title>Turing Tested.</title>
</head>

<body>

  <div class="heading-text">
    Turing Tested
  </div><br><br>

  <div class="container centred-blahaj">

        <h2>Under construction! In the meanwhile, have a Blåhaj.</h2>
        <img src="https://media.tenor.com/_Mhcjusg4nEAAAAM/blahaj-blahaj-lore.gif" alt="" class="src">

  </div>

  <div class="sidebar">
    <ul>
      <a href="{{url_for('home')}}"><li>Home</li></a>
      <a href="{{url_for('about')}}"><li>About</li></a>
      <a href="{{url_for('shenanigans')}}"><li>Shenanigans</li></a>
      <a href="{{url_for('blogs')}}"><li>Blogs</li></a>
      <a href="{{url_for('devnull')}}"><li>/dev/null/</li></a>
    </ul>
  </div>
</body>

</html>