<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyles.css') }}">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bulma-pro" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Keouck</title>
</head>
<body>

  <section class="hero is-primary is-large">

    <div class="hero-head">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <!-- <a class="navbar-item" href="{{ url_for('home') }}">
        <p class="is-size-4 is-underlined is-family-code has-text-success"><b>Keouck.</b></p>
      </a> -->
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarmain">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarmain" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('home') }}">
              <p class="is-family-monospace"> Home </p>
            </a>
      
            <a class="navbar-item" href="{{ url_for('projects') }}">
              <p class="is-family-monospace"> Projects</p>
            </a>

            <a class="navbar-item" href="{{ url_for('contact') }}">
              <p class="is-family-monospace"> Contact Me </p>
            </a>

            <a class="navbar-item" href="{{ url_for('about') }}">
              <p class="is-family-monospace"> About Me </p>
            </a>

            <a class="navbar-item" href="{{ url_for('blogs') }}">
              <p class="is-family-monospace"> My Blogs </p>
            </a>
  
          </div>      
        </div>
    </nav>
    </div>

    <section class="hero is-primary">
      <div class="columns is-multiline is-mobile hero-body">
      <div class="column is-half pb-6">
      <p class="title pl-6 ml-6">Hey there.</p>
      <p class="subtitle pl-6 ml-6">I'm Keouck, nice meeting you.</p>
      </div>
    </div>
    <div class="columns">
    <div class="column is-one-quarter mb-6 pb-6 pl-6 ml-6">
        <figure class="image is-128x128">
          <img src="{{ url_for('static', filename='assets/luna.gif') }}" alt="Keouck's pfp" class="is-rounded">
        </figure>
      </div>
    
    <div class="column is-family-monospace is-one-quarter mb-6 pb-6 pl-3 box">
      <span class="icon"><i class="fas fa-briefcase"></i></span> Doofenshmirtz Evil Inc.<br>
      <span class="icon"><i class="fas fa-home"></i></span> Noida, India <br>
      <span class="icon"><i class="fab fa-github"></i></span> <a href="https://github.com/keouck" class="has-text-success">Github</a><br>
      <span class="icon"><i class="fab fa-mastodon"></i></span> <a href="https://mas.to/@keouck" class="has-text-success">Mastodon</a><br>
    </div>
    </div>
    </section>

    <script src="{{ url_for('static',filename='index.js') }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>

</body>
</html>